

textarea {
    position: relative;
    left: 50%;
    transform: translate( -50%, 0);
    resize: none;
    border-radius: 25px;
    width: 80%;
    height: 65%;
    background-color: rgba(0,0,0, 0.5);
    opacity: 0.5;
    color: #ffffff;
    padding: 10px;
    margin: 0px auto;
    outline: none;
}

label {
    text-align: center;
}

.create-card {
    background-color:  #f1652a;
    border-radius: 25px;
    display: inline-block;
    height: 300px;
    width: 250px;
}

.create-card-button {
    display: block;
    position: relative;
    background: #ffffff;
    border-radius: 25px;
    font-size: 3em;
    margin-top: 35px;
    left: 50%;
    transform: translate( -50%, 0);
}

.create-card-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
}