.list {
    overflow: auto;
    white-space: nowrap;
    height: 300px;
    background-color: rgba( 0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

p {
    word-wrap: normal;
    white-space: normal;
    text-align: center;
    width: 210px;
}

h4 {
    text-align: center;
}

.list-card {
    height: 250px;
    border-radius: 25px;
    display: inline-block;
    margin: 20px;
}

.list-component {
    overflow: scroll;
    height: 50%;
}

.list-html {
    background-color: #f1652a;
}

.list-css {
    background-color: #2fa4d5;
}

.list-javascript {
    background-color: #f7d33c;
}

.list-personal {
    background-color: yellow;
}