html, body {
  height: 100%;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin: 0;
}

.nav {
  position: fixed;
  bottom: 0;
  left: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  font-size: 1.5em;
  display: list-item;
  height: 60px;
  margin-bottom: 30px;
  transform: translateX(-300px);
  transition: transform .7s 0s cubic-bezier(1.000, 0.005, 0.240, 1.000);
}

.nav li {
  display: block;
  transition: color 0.7s;
}

#root {
  height: 100%;
}
.page {
  height: 100%;
  background-color: pink;
}

.main-content {
  height: 200%;
  position: relative;
  transform-origin: top left;
  transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1), -webkit-transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
  background-color: blue;
}

.hamburger-container {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.hamburger-circle {
  position: absolute;
  z-index: -1;
  transition: 0.4s;
  height: 0;
  width: 0;
  background-color: yellow;
  border-bottom-right-radius: 100%;
}

.hamburger-container:hover .hamburger-circle{
  height: 150px;
  width: 150px;
  background-color: yellow;
  border-bottom-right-radius: 100%;
}

.what .main-content {
  transform: rotate(-30deg)
}

.what li {
  transform: translateX(0);
  transition: transform 0.7s .46s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}


.what li:nth-child(2){
   transition-delay: .47s;
  }
.what li:nth-child(3){
    transition-delay: .48s;
  }
.what li:nth-child(4){
    transition-delay: .49s;
  }
.what li:nth-child(5){
    transition-delay: .50s;
  }
.what li:nth-child(6){
    transition-delay: .51s;
  }


  /* the hamburger */

  .stick-container {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate( -25%, -25%)
  }

  .stick {
    height: 10px;
    width: 75px;
    background-color: crimson;
    border-radius: 25px;
    margin: 5px;
  }

 .stick-one.open{
  animation: open-stick-one 0.5s forwards;
}

.stick-two.open  {
  animation: open-stick-two 0.25s forwards;
}

.stick-three.open  {
  animation: open-stick-three 0.5s forwards;
}

.stick-one.close {
  animation: close-stick-one 0.5s forwards;
}

.stick-two.close {
  animation: close-stick-two 0.5s forwards;
}

.stick-three.close {
  animation: close-stick-three 0.5s forwards;
}

@keyframes open-stick-one {
  0% {
    width: 75px;
  }
  50% {
    width: 10px;
    transform: translate( 0, 0)
  }
  75%, 76% {
    width: 10px;
    transform: translate( 0, 15px)
  }
  77% {
    transform: rotate(-45deg) translate( 0, 34px);
  }
  100%{
    transform: rotate(45deg) translate( 0px, 34px);
    width: 75px;
  }
}

@keyframes open-stick-two {
  0% {
    width: 75px;
  }
  100% {
    width: 10px;
  }
}

@keyframes open-stick-three {
  0% {
    width: 75px;
  }
  50% {
    width: 10px;
    transform: translate( 0, 0)
  }
  75%, 76% {
    width: 10px;
    transform: translate( 0, -15px)
  }
  77% {
    transform: rotate(-45deg) translate( 0, -34px);
  }
  100%{
    transform: rotate(-45deg) translate( 0, -34px);
    width: 75px;
  }
}

@keyframes close-stick-one {
  0% {
    width: 10px;
    transform: translate( 0, 15px)
  }
  50% {
    width: 10px;
    transform: translate( 0, 0)
  }
  100% {
    width: 75px;
  }
}

@keyframes close-stick-two {
  0% {
    width: 10px;
  }
  50% {
    width: 10px;
  }
  100% {
    width: 75px;
  }
}

@keyframes close-stick-three {
  0% {
    width: 10px;
    transform: translate( 0, -15px);
  }
  50% {
    width: 10px;
    transform: translate( 0, 0)
  }
  100% {
    width: 75px;
  }
}
