textarea {
    resize: none;
    width: 30%;
}

label {
    display: block;
}

.create-card {
    background-color: grey;
    border-radius: 25px;
    display: inline-block;
    width: 30%;
    height: 70%;
}