.main-menu-component {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-size: 4em;
}

.study-button {
    color: #ffffff;
    background-color: #f1652a;
    height: 100px;
    margin: 10px;
    width: 700px;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black;
    border: none;
}

.quiz-button {
    background-color: #2fa4d5;
    color: #ffffff;
    height: 100px;
    width: 700px;
    margin: 10px;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black;
    border: none;
}

.create-button {
    background-color: #f7d33c;
    color: #ffffff;
    height: 100px;
    width: 700px;
    margin: 10px;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black;
    border: none;
}

.study-button li{
    color: white;
    font-weight: bold;
}

.quiz-button li{
    color: white;
    font-weight: bold;
}

.create-button li{
    color: white;
    font-weight: bold;
}

.main-li {
    font-size: 5em;
}